# Application
NODE_ENV=development

# Redis (BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379

# Database (SQLite)
DB_PATH=./timeoff.db

# HCM Mock URL (used by ExampleHR to communicate with HCM)
HCM_BASE_URL=http://localhost:4000
